{%extends "layout.html"%}{%block body%}
<div id="table-responsive">
  <table class="table table-bordered table-hover text-white bg-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Sport</th>
      </tr>
    </thead>
    <tbody class="text-black bg-light">
      {% for user in user_list|unique: %}
      <tr class="">
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
        <td>{{user[2]}}</td>
        <td>{{user[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
