<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>Atreides-page</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
        rel="stylesheet"
        href="{{url_for('static',filename='index-style.css')}}"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
        rel="stylesheet"
      />
    </head>

    <body>
      <nav>
        <a class="logo" href="#">Atreides.</a>
        <ul class="nav-bar">
          <li class="nav-bar_item">
            <a href="https://github.com/Rohanc28/Flask-registration-app#readme"
              >about</a
            >
          </li>
          <li class="nav-bar_item">
            <a href="https://github.com/Rohanc28/Flask-registration-app"
              >project</a
            >
          </li>
          <li class="nav-bar_item">
            <a
              href="https://mail.google.com/mail/u/0/?fs=1&to=idevrutahc@gmail.com&su=SUBJECT&body=BODY&tf=cm"
              >contact</a
            >
          </li>
        </ul>
      </nav>
      <!---->

      <div id="login-box">
        <div id="head-2">Sports Tournament</div>
        <div>
          <p class="main-1">
            Get in the game, Put on your gear and be ready to play. Feel the
            adrenaline rush in your bodies while you witness the thrilling
            games.<br />
          </p>
        </div>
        <div class="main-1">
          <span
            style="
              padding: 35px;
              dispaly: flex;
              flex-direction: column;
              text-align: center;
              justify-content: center;
            "
            >Register Now for Sports Tournament</span
          >
        </div>
      </div>
      <div class="submit">
        <form action="/register" method="post">
          <input class="btn" type="submit" value="Sign Up" />
        </form>
        <form action="/login" method="post">
          <input class="btn1" type="submit" value="Log In" />
        </form>
      </div>

      <!---->
      <div id="foot">
        <ul class="foot-ul">
          <li class="foot-ul-li">
            <a href="https://github.com/Rohanc28/Flask-registration-app"
              >About</a
            >
          </li>
          <li class="foot-ul-li">
            <a href="#">Support</a>
          </li>
          <li class="foot-ul-li">
            <a href="https://www.linkedin.com/in/rohan-chaturvedi-b64b3b20a/"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </body>
  </html>
</html>
